.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  transition: opacity 0.25s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .khan__buy-link {
    line-height: 24px;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .khan__buy-link {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .khan__buy-link {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .khan__buy-link {
    font-size: 14px;
  }
}
